<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>home page</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container mt-3 ">
            <div class="row row-cols-3">
                <% blogs.forEach(blogs=> { %>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= blogs.coverImageURL %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blogs.title %>
                                </h5>
                                <a href="/blog/<%= blogs._id %>" class="btn btn-primary">view</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>


        <%- include('./partials/scripts') %>
</body>

</html>